@model IEnumerable<Firma.Data.Data.Sklep.Towar>
@{
    ViewData["Title"] = "Sklep";
    @*
        Layout = "~/Views/Shared/_SklepLayout.cshtml";
        Może być pełna ścieżka z roszczerzeniem pliku lub
        tylko nazwa layoutu, koniecznie bez rozszerzenia
    *@
    Layout = "_SklepLayout";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cena)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Foto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    <td>
                        @item.Opis
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.Cena) Formatuje automatycznie do dwóch miejsc po przecinku *@
                        @item.Cena.ToString("0.00") @* Wymuszenie formatowania do dwóch miejsc po przecinku *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>